@font-face {
  font-family: "truenobold";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobd-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobd-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobd-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobd-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobd-webfont.svg#truenobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenobold_italic";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobdit-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobdit-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobdit-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobdit-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenobdit-webfont.svg#truenobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenoblack";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoblk-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoblk-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoblk-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoblk-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoblk-webfont.svg#truenoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenoextrabold";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoexbd-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoexbd-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoexbd-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoexbd-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoexbd-webfont.svg#truenoextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenolight";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenolt-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenolt-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenolt-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenolt-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenolt-webfont.svg#truenolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenolight_italic";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoltit-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoltit-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoltit-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoltit-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoltit-webfont.svg#truenolight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenoregular";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorg-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorg-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorg-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorg-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorg-webfont.svg#truenoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenoregular_italic";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorgit-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorgit-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorgit-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorgit-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenorgit-webfont.svg#truenoregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenosemibold";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbd-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbd-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbd-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbd-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbd-webfont.svg#truenosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenosemibold_italic";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbdit-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbdit-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbdit-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbdit-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenosbdit-webfont.svg#truenosemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenoultralight";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultlt-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultlt-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultlt-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultlt-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultlt-webfont.svg#truenoultralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "truenoultralight_italic";
  src:
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultltit-webfont.eot"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultltit-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultltit-webfont.woff2") format("woff2"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultltit-webfont.woff") format("woff"),
    url("/wp-content/themes/postmodern/resources/assets/fonts/truenoultltit-webfont.svg#truenoultralight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
