header {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;
  font-family: "truenolight", serif;

  #menu {
    height: 40px;
    margin: 0 auto;

    li {
      display: inline-block;
      color: #fff;
      padding: 10px 10px;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #fff;
      }

      &.active {
        background: rgba(256, 256, 256, 0.5);
        color: #000 !important;

        a {
          color: #000;
        }

        a:hover {
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    display: none;
  }
}
