.section {
  color: #fff;
  font-family: "Roboto Serif", sans-serif;
  font-size: 19px;
  text-align: justify;
}

@media (max-width: 768px) {
  .section {
    color: #fff;
    font-family: "Roboto Serif", sans-serif;
    font-size: 14px;
    line-height: 1.1rem;
  }
}

a {
  color: #070707;
}

#fp-nav ul li .fp-tooltip {
  font-family: "Roboto Serif", sans-serif;
  font-weight: lighter;
}

strong {
  font-family: "Roboto Serif", sans-serif;
  font-weight: bolder;
}

p {
  line-height: 1.6rem;
}
